{% load wagtailcore_tags wagtailimages_tags %}
{% if me.header %}
    <div class="ru-header">{{me.header}}</div>
{% endif %}
{% if me.icon %}
    {% image me.icon original class="ru-icon" %}
{% endif %}
<div class="ru-content">{{ me.content|richtext }}</div>

{% for scan in me.patents.all %}
    {% if forloop.first %}
        <script>
            var _rup = [{
                    src: '{{scan.patent.file}}',
                    w: {{scan.patent.width}},
                    h: {{scan.patent.height}}
            }];
            var st{{forloop.counter0}} = {{forloop.counter0}};
        </script>
    {% else %}
        <script>
            _rup.push({
                    src: '{{scan.patent.file}}',
                    w: {{scan.patent.width}},
                    h: {{scan.patent.height}}
            });
            var st{{forloop.counter0}} = {{forloop.counter0}};
        </script>
    {% endif %}
    <div onclick="showGalary(_rup, st{{forloop.counter0}})" style="display:inline-block">
        {% image scan.patent fill-150x220 class="ru-patent"  %}
    </div>
{% endfor %}

{% for material in me.materials.all %}
{% endfor %}

{% if me.patents.all %}
    {% include 'insoft/include/galery_pane.html' %}
{% endif %}

{# Для страницы "Сопровождение" включаем карусель схемы #}
{% if me.id == 1746 %}
    <script>
        try {
            var skhema = $('.ru-content .rich-text img').last(),
                    _skrc = skhema.attr('src'),
                    _orgsrc = (_skrc.substr(0, _skrc.indexOf('focus')) + _skrc.substr(-3))
                            .replace('images', 'original_images').substr(7),
                    _skw = skhema.attr('width') * 3,
                    _skh = skhema.attr('height') * 3;
            skhema.click(function(){
                showGalary([{src: _orgsrc, w: _skw, h: _skh}]);
            })
                    .css('cursor', 'pointer');
        } catch (e) {
            console.log(e);
        }
    </script>
    {% if not me.patents.all %}
        {% include 'insoft/include/galery_pane.html' %}
    {% endif %}
{% endif %}
