{% load wagtailcore_tags wagtailimages_tags %}
<div class="ru-kid-title">{{me.title}}</div>
{% if me.icon %}
    <a href="{{url}}">{% image me.icon original class="ru-kid-icon" %}</a>
{% endif %}
{% if me.excerpt %}
    <div class="ru-kid-excerpt">{{me.excerpt|richtext}}</div>
{% endif %}
<a href="{{url}}" class="ru-more-info">Подробнее</a>