<li {%if not node.children %}class="last_level"{%endif%}> <a href="{{ node.url }}">{{node.title}}</a>
    {%if node.children %}
        <ul>
         {%for ch in node.children %}
              {%with node=ch template_name="insoft/include/tree_view_template.html" %}
                   {%include template_name%}
              {%endwith%}
         {%endfor%}
         </ul>
    {%endif%}
</li>
