{% load static wagtailcore_tags insoft_tags %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | ИНСОФТ{% endblock %}</title>

		<link rel="stylesheet" href="{% static 'insoft/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'insoft/js/vendor/themes/metro/easyui.css' %}">
		<link rel="stylesheet" href="{% static 'insoft/css/jqvmap.css' %}">

	    <script src="{% static 'insoft/js/vendor/jquery-1.9.1.js' %}"></script>
        <script src="{% static 'insoft/js/vendor/jquery.easyui.min.js' %}"></script>
	    <script src="{% static 'insoft/js/vendor/jquery.collapse-1.1.0.js' %}"></script>
	    <script src="{% static 'insoft/js/vendor/jquery.vmap-1.0.min.js' %}"></script>
	    <script src="{% static 'insoft/js/adjust_height.js' %}"></script>
</head>
<body id="{% block body_id %}page_{{self.id|default:'0'}}{% endblock %}">

    <div class="layout-base">
	    <div class="layout-base__head">
		    {% include 'insoft/include/header.html' %}
		    {% main_menu current_page=self %}
	    </div>
	    <div class="layout-base__body">
		    <div class="content">
			    <div class="content__side-panel">
				    {% block side_panels %}
					    {% left_menu current_page=self %}
					    {% news_widget cnews=0 %}
				    {% endblock %}
			    </div>
			    <div class="content__workspace">
				    {% block workspace %}
					    <div class="workspace">
						    <div class="workspace__head">
							    {% block workspace_head %}{% endblock %}
						    </div>
						    <div class="workspace__body">
							    {% block workspace_body %}{% endblock %}
						    </div>
						    <div class="workspace__foot">
							    {% block workspace_foot %}{% endblock %}
						    </div>
					    </div>
				    {% endblock %}
			    </div>
		        <div class="clear"></div>
		    </div>
	    </div>
	    <div class="layout-base__foot">
			{% comment %}
			{% endcomment %}
			{% clients %}
		    <!-- start: b-footer -->
		    <div class="b-footer">
			    <div class="b-footer__copyright">
				    ЗАО ИВЦ ИНСОФТ&nbsp;&nbsp;&nbsp;Все права защищены
			    </div>
			    <div class="b-footer__report-error">
				    <a href="#">Сообщить об ошибке</a>
			    </div>
		    </div>
		    <!-- end: b-footer -->
	    </div>
    </div>
    <div class="image-footer"></div>

{% block js %}{% endblock %}
</body>
</html>
