{% extends 'insoft/base.html' %}
{% load wagtailcore_tags wagtailimages_tags insoft_tags %}

{% block workspace_head %}
    <div class="b-workspace__label">
        <span>{{ self.title }}</span>
    </div>
{% endblock %}

{% block workspace_body %}
	{{ self.content|richtext }}
    {% if self.photos.count %}
            {% for cf in self.photos.all %}
                {% if forloop.first %}
                    <script>
                        var _ccf = [{
                                src: '{{cf.photo.file}}',
                                w: {{cf.photo.width}},
                                h: {{cf.photo.height}}
                        }];
                    </script>
                {% else %}
                    <script>
                        _ccf.push({
                                src: '{{cf.photo.file}}',
                                w: {{cf.photo.width}},
                                h: {{cf.photo.height}}
                        });
                    </script>
                {% endif %}
                {% image cf.photo fill-150x130 class="career-crew-photo" %}
            {% endfor %}
            <script>
                $('img.career-crew-photo').each(function(i, src){
                    $(src).click(function(){
                        showGalary(_ccf, i);
                    });
                });
            </script>
        {% include 'insoft/include/galery_pane.html' %}
    {% endif %}
{% endblock %}