{% extends 'insoft/base.html' %}
{% load wagtailcore_tags insoft_tags %}

{% block workspace_head %}
		<div class="b-workspace__label">
			<span>{% if self.headline %}{{ self.headline }}{% else %}{{ self.title }}{% endif %}</span>
		</div>
{% endblock %}

{% block workspace_body %}
	{{ self.preface|richtext }}
	<div class="chronologies">
	    {% for record in self.records.all %}
		    <div class="chronologies__item">
			    <div class="chronologies__period">{{ record.period }}</div>
			    <div class="chronologies__record">{{ record.record|richtext }}</div>
		        <div class="clear"></div>
		    </div>
	    {% endfor %}
	</div>
{% endblock %}
