{% extends 'insoft/base.html' %}
{% load static wagtailroutablepage_tags insoft_tags %}

{% block workspace %}
	<div class="workspace">
    	<div class="workspace__head">
			<div class="b-workspace__label">
				<span>{{ self.title }}</span>
			</div>
		</div>
        <div class="workspace__body" style="min-height: 500px;">
			<div id="russia_map" style="width: 810px; height: 500px;"></div>
        </div>
        <div class="workspace__foot">
        </div>
    </div>
{% endblock %}

{% block js %}
	<script>
		function _LDC(col,amt) {
            var usePound = false;
            if ( col[0] == "#" ) { col = col.slice(1); usePound = true; }
            var num = parseInt(col,16), r = (num >> 16) - amt;
            if ( r > 255 ) r = 255; else if  (r < 0) r = 0;
            var b = ((num >> 8) & 0x00FF) - amt;
            if ( b > 255 ) b = 255; else if  (b < 0) b = 0;
            var g = (num & 0x0000FF) - amt;
            if ( g > 255 ) g = 255; else if  ( g < 0 ) g = 0;
            return (usePound?"#":"") + (g | (b << 8) | (r << 16)).toString(16);
        }
		var _colrs = {};
		{% for key, value in colors.items %}
			_colrs['{{key}}'] = '{{value}}';
		{% endfor %}
		$(document).ready(function() {
			$.getJSON('{% static "insoft/maps/russia.json" %}', function(map) {
				jQuery.fn.vectorMap('addMap', 'russia_ru', map);
				var obj = $('#russia_map');
				obj.vectorMap({
					map: 'russia_ru',
					backgroundColor: 'transparent',
					borderWidth: 2,
					borderColor: '#ffffff',
					color: '{{base_color}}',
					hoverOpacity: 0,
					hoverColor: '#7191b6',
					selectedColor: '#7191b6',
					enableZoom: false,
					showTooltip: true,
					normalizeFunction: 'polynomial',
					onRegionClick: function(element, code, region) {
						var goto ="{% routablepageurl self 'customers_on_location' 'code' %}";
						window.location.href =  goto.replace('code', code).toLowerCase();
					}
				});
				obj.vectorMap('set', 'colors', _colrs);
			});
		});
	</script>
{% endblock %}
