{% extends 'insoft/base.html' %}
{% load wagtailcore_tags insoft_tags %}

{% block workspace %}
    <div class="workspace" style="min-height: 450px;">
        <div class="workspace__head">
           {% block workspace_head %}
               <div class="b-workspace__label"><span>{{ location.name }}</span></div>
           {% endblock %}
        </div>
        <div class="workspace__body">
            {% block workspace_body %}
                {% if customers %}
                    <ul>
                    {% for customer in customers %}
                        <li><a href="{% pageurl customer %}">{{ customer.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    Заказчики в данном регионе отсутствуют
                {% endif %}
            {% endblock %}
        </div>
        <div class="workspace__foot"></div>
    </div>
{% endblock %}


