{% extends 'insoft/customers_on_location_page.html' %}
{% load wagtailcore_tags insoft_tags %}

{% block workspace_head %}
	<div class="b-workspace__label">
		<span>{% if self.headline %}{{ self.headline }}{% else %}{{ self.title }}{% endif %}</span>
	</div>
{% endblock %}

{% block workspace_body %}
   {% for customer in self.customers.all %}
        <div>
            <span>{{ customer.title }}</span>
        </div>
        {{ customer.record | richtext }}
    {% endfor %}
{% endblock %}
