{% extends 'insoft/products_page.html' %}

{% block workspace_head %}
		<div class="b-workspace__path">
			{% for anc in self.ancestors %}
				<a href="{{anc.url}}">{{anc.title}}</a>{% if not forloop.last %}{% endif %}
			{% endfor %}
		</div>
{% endblock %}

{% block workspace_body %}
		{% for child in self.children %}
            <div class="ais">
            {% if child.link %}
                {% with me=child.link url=child.url %}
                    {%include "insoft/include/product_child.html" %}
                {% endwith %}
            {% else %}
                {% with me=child url=child.url %}
                    {%include "insoft/include/product_child.html" %}
                {% endwith %}
            {% endif %}
            </div>
		{% empty %}
            {% if self.link %}
                {% with self.link as me %}
                    {%include "insoft/include/product_child_content.html" %}
                {% endwith %}
            {% else %}
                {% with self as me %}
                    {%include "insoft/include/product_child_content.html" %}
                {% endwith %}
            {% endif %}
		{% endfor %}
{% endblock %}

