{% extends 'insoft/base.html' %}
{% load wagtailcore_tags insoft_tags %}

{% block side_panels %}
	{% solutions_menu %}
	{% news_widget cnews=0 %}
{% endblock %}

{% block workspace %}
    <div class="workspace reshenia-uslugi">
        <div class="workspace__head reshenia-uslugi">
            {% block workspace_head %}{% endblock %}
        </div>
        <div class="workspace__body reshenia-uslugi">
            {% block workspace_body %}{% endblock %}
        </div>
        <div class="workspace__foot reshenia-uslugi">
            {% block workspace_foot %}{% endblock %}
        </div>
    </div>
{% endblock %}