{% load i18n wagtailcore_tags %}
<div class="workspace">
    <div class="b-workspace__label">
		<span>{% trans 'Результаты поиска' %}</span>
    </div>
    <ul>
        {% for result in search_results %}
            <li>
                <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                {% if result.specific.search_description %}
                  {{ result.specific.search_description|safe }}
                {% endif %}
            </li>
        {% empty %}
          <li>{% trans 'Ничего не найдено' %}</li>
        {% endfor %}
    </ul>
    {% if prev_page %}
        <button onclick="qq('{{query_string}}', '{{prev_page}}')">Предыдущий</button>
    {% endif %}
    {% if next_page %}
        <button onclick="qq('{{query_string}}', '{{next_page}}')">Следующий</button>
    {% endif %}
</div>
