{% extends 'insoft/base.html' %}
{% load wagtailcore_tags insoft_tags %}

{% block workspace_head %}
    <div class="b-workspace__label">
        <span>{% if self.headline %}{{ self.headline }}{% else %}{{ self.title }}{% endif %}</span>
    </div>
{% endblock %}

{% block workspace_body %}
	{{ self.content|richtext }}
{% endblock %}
