{% extends 'insoft/base.html' %}
{% load static wagtailcore_tags insoft_tags %}

{% block side_panels %}
	{% news_widget news=4 cnews=3 %}
{% endblock %}

{% block workspace_head %}
	<div class="b-workspace__label">
		<span>{{ self.headline }}</span>
	</div>
{% endblock %}

{% block workspace_body %}
	<div class="b-workspace__super">
	    {% if self.content %}{{ self.content|richtext }}{% endif %}
	</div>

	<!-- start: b-services-showcase -->
    {% if self.directions %}
        <span class="b-services-showcase__label">Направления деятельности:</span>
        <div class="b-services-showcase">
            <div class="b-services-showcase__left-block">
            </div>
            <div class="b-services-showcase__right-block">
            </div>
            <script>
                var _sp_lb = $('.b-services-showcase__left-block'),
                    _sp_rb = $('.b-services-showcase__right-block'),
                    _sp_cr;
                {% for direction in self.directions.all %}
                    var _Y1 = $().add('<div>');
                    _Y1.addClass('b-services-showcase__item')
                            .append('{{ direction.text|richtext }}')
                            .css({'background': 'url(' +
                                    "'/media/{{ direction.icon_glow.file }}') left center no-repeat",
                                    'background-size': '100px 100px'})
                            .css('background', 'url(' +
                            "'/media/{{ direction.icon.file }}') left center no-repeat")
                            .hover(function() {
                                $(this).css({'background': 'url(' +
                                    "'/media/{{ direction.icon_glow.file }}') left center no-repeat",
                                    'background-size': '100px 100px'});
                            }, function() {
                                $(this).css('background', 'url(' +
                                        "'/media/{{ direction.icon.file }}') left center no-repeat"
                                );
                            });
                    {% if direction.link.url %}
                          _Y1.css('cursor', 'pointer')
                              .click(function(){window.location='{{ direction.link.url }}'})
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        _sp_rb.append(_Y1);
                        _sp_cr = _sp_rb;
                    {% else %}
                        _sp_lb.append(_Y1);
                        _sp_cr = _sp_lb;
                    {% endif %}
                    {% if not forloop.last and forloop.revcounter0 != 1 %}
                        _sp_cr.append('<div class="b-services-showcase__separator"></div>');
                    {% endif %}
                {% endfor %}
            </script>
        </div>
    {% endif %}
    <!-- end: b-services-showcase -->
{% endblock %}
