{% load wagtailcore_tags wagtailimages_tags static %}
<div class="b-clients">
	<div class="b-clients__label"><a href="/formula/zakazchik2/">Заказчики</a></div>
	<div class="b-clients__showcase-controls">
		<img src="{% static 'insoft/img/clients-showcase-arrow-backward.jpg' %}" title="Прокрутить назад">
		&nbsp;
		<img src="{% static 'insoft/img/clients-showcase-arrow-forward.jpg' %}" title="Прокрутить вперед">
	</div>
	<div class="b-clients__showcase">
		<!-- start: b-clients-showcase -->
        {% if customer_links %}
		<ul class="b-clients-showcase">
            {% for cust in customer_links %}
                <li class="b-clients-showcase__item">
                    {% if cust.url %}
                        <a href="{{ cust.url }}">
                        <img src="{{ cust.file }}" height="100px" class="client_big" style="display: none;" alt="{{ cust.title }}" title="{{cust.title}}"/>
                        <img src="{{ cust.file }}" height="50px" class="client_small"/>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
		</ul>
        <script src="{% static 'insoft/js/carousel.js' %}"></script>
        <script>
            $('.b-clients-showcase__item .client_small').hover(function() {
                $('.b-clients-showcase__item .client_big').css('display', 'none');
                var target = $(this).prev();
                target.css({
                    display: '',
                    top: '-25px',
                    left: '-20px'
                });
            });
            $('.b-clients-showcase__item .client_big').hover(function(){

            }, function(){
                $('.b-clients-showcase__item .client_big').css('display', 'none');
            });
            var _b1k = $('.b-clients__showcase-controls');
            $('.b-clients__showcase').Carousel({
              visible: 11,
              margin: 10,
              rotateBy: 1,
              speed: 500,
              auto: false,
              btnNext: _b1k.children(':first'),
              btnPrev: _b1k.children(':last')
          });
        </script>
        {% endif %}
		<!-- end: b-clients-showcase -->
	</div>
</div>
