{% load wagtailcore_tags %}

<!-- start:  main-menu -->
<ul class="main-menu">
	{% for item in menu_items %}
		<li class="main-menu__item{% if item.active %} main-menu__item_selected{% endif %}">
			<a href="{{ item.url }}">{{ item.title }}</a>
			{% comment %}
			{% if item.subs %}
			<ul class="main-menu_sub" style="display: none">
				{% for sub in item.subs %}
				<li class="main-menu_sub-item">
					<a href="{{ sub.url }}">{{ sub.title }}</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endcomment %}
		</li>
	{% endfor %}
</ul>
<!-- end:  main-menu -->
