{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% if news_entries %}
	<div class="side-panel">
		<a class="side-panel__label" href="{% if news_page %}{% pageurl news_page %}{% else %}#{% endif %}">
            {% trans 'Новости компании' %}</a>
		<!-- start: b-news-ads -->
		<div class="b-news-ads">
			{% for entry in news_entries %}
				<div class="b-news-ads__item">
					<div class="b-news-ads__item-img">
						{% image entry.feed_image fill-70x70 %}
					</div>
					<div class="b-news-ads__item-desc">
						<a href="{% pageurl entry %}">{{ entry.title }}</a>
						<span class="b-news-ads__item-desc-date">{{ entry.release_date }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
		<!-- end: b-news-ads -->
{% comment 'Not in use now' %}
		<!-- start: b-cnews-ads -->
		{% if cnews_entries %}
			<div class="b-cnews-ads">
			</div>
            <script>
                $.ajax({
                    url: document.location.protocol +
                    '//ajax.googleapis.com/ajax/services/feed/load?v=2.0&num=3&callback=?&q='
                    + encodeURIComponent('http://cnews.ru/rss/news.xml'),
                    dataType: 'json',
                    success: function (data) {
                        if (data.responseData.feed && data.responseData.feed.entries) {
                            var div = $('.b-cnews-ads'),
                                    ms = 60;
                            $.each(data.responseData.feed.entries, function (i, e) {
                                var ft = e.title,
                                        ct = ft.length > ms ? ft.substr(0, ms).trim().concat('...') : ft;
                                div.append(
                                        '<div class="b-cnews-ads__item">' +
                                        '<div class="b-cnews-ads__item-img">' +
                                        '<img src="' +  "{% static 'insoft/fixtures/news-cnews.png' %}" +
                                        '" title="C-News" width="60px"></div>' +
                                        '<div class="b-cnews-ads__item-desc">' +
                                        '<a href="' + e.link + '" target="_blank" title=\'' + ft + '\'>' +
                                        ct + '</a></div></div>');
                            });
                            if (window.adjustHeight) {
                                 window.adjustHeight();
                                 window.adjustHeight();
                                 $(window).resize(function(){ window.adjustHeight() });
                             }
                         }
                    }
                });
            </script>
		{% endif %}
		<!-- end: b-cnews-ads -->
{% endcomment %}

		{% if news_page %}
			<div class="side-panel__bottom-link">
				<a href="{% pageurl news_page %}">Архив Новостей</a>
			</div>
		{% endif %}
    </div>
{% endif %}
