{% load wagtailcore_tags %}
<div class="side-panel menu_panel">
	{% for rmenu in menu_items %}
		{% for key, value in rmenu.items %}
        <div class="label_menu">
			{{ key }}
		</div>
		<ul class="nav">
			{%for node in value %}
                {%include "insoft/include/tree_view_template.html" %}
			{%endfor%}
        </ul>
		{% endfor %}
	{% endfor %}
	<script>
        $('.label_menu').click(function(){
			var div = $(this),
					ul = div.next('ul');
			ul.toggle({
				queue: false,
                complete: function() {
					if (ul.is(':hidden'))
                        div.css({'border-bottom': 'none',
							'background': 'url(/static/insoft/img/arrow_down.png) right center no-repeat'});
					else
						div.css({'border-bottom': '1px solid #BFCADD',
							'background': 'url(/static/insoft/img/arrow_up.png) right center no-repeat'});
            }});
		});
    </script>
</div>
