html, body {
	margin: 0;
}

/* start: layout-base */
.layout-base {
	background: #dde8f2 url(../img/background-new.jpg) center top no-repeat;
}
.layout-base__head,
.layout-base__body,
.layout-base__foot {
	margin: 0 auto;
	width: 1180px;
}
.layout-base__head {
	height: 150px;
	margin-bottom: 10px;
}
.layout-base__body {
}
.layout-base__foot {
	margin-top: 10px;
	height: 155px;
}
/* end: layout-base */


/* start: header */
.header {
	display: table;
	height: 105px;
}
.header__holder {
	display: table-row;
}
.header__liner {
	display: table-cell;
	width: 1px;
	background: url(../img/header-separator.png) center center no-repeat;
}
div.header__liner{
	display: none;
}
.header__logo {
	display: table-cell;
	width: 470px;
	text-align: center;
	vertical-align: middle;
}
.header__locations {
	display: table-cell;
	width: 520px;
	padding-left: 12px;
}
.header__links {
	display: table-cell;
	width: 156px;
	text-align: center;
	vertical-align: middle;
	padding-left: 20px;
}
/* end: header */


/* start: locations */
.locations {
	display: table;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}
.locations__item {
	display: table-cell;
/*	padding-left: 32px;*/
/*	background: url(../img/locator.png) left top no-repeat;*/
}
.locations__item a {
    float: left;
    margin-right: 20px;
    height: 55px;
}
/* end: locations */


/* start: location */
.location {}
.location__address-city,
.location__address-street,
.location__address-home,
.location__phone
{
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	display: block;
}
.location__address-city {
	color: #000;
}
.location__address-street {
	color: #000;
}
.location__address-street {
	color: #000;
}
.location__phone {
	font-weight: bold;
	color: #809cb9;
	line-height: 15px;
}
.location__phone-code {
	font-size: 13px;
}
.location__phone-number {
	font-size: 13px;
}
/* end: location */


/* start: header-links */
.header-links {
	list-style: none;
	padding: 0;
	margin: 0;
}
.header-links a:visited{
	color: #000;
}
.header-links__write-mail,
.header-links__send-request,
.header-links__search
{
	margin-bottom: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
}
.header-links__write-mail {
	background: url(../img/header-link__write-mail.png) left center no-repeat;
	padding-left: 22px;
}
.header-links__write-mail a{
	color: #000;
}
.header-links__send-request {
	background: url(../img/header-link__send-request.png) left center no-repeat;
	padding-left: 22px;

}
.header-links__send-request a{
	color: #000;
}
.header-links__search {
/*	background: url(../img/header-link__search.png) left center no-repeat;*/
	padding-left: 0px;

}
.header-links__search a{
	color: #000;
}
/* end: header-links */


/* start: main-menu */
.main-menu {
	display: table;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	-moz-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	box-shadow: 0 4px 6px rgba(7,7,7,0.5);
}
.main-menu__item {
	display: table-cell;
	width: 1%;
	border-left: 1px solid #8ea7b9;
	border:none;
}

.main-menu .main-menu__item:first-child {
	border-left: none;
}
.main-menu__item a{
	display: block;
	background-color: #fff;
	height: 45px;
	border: 1px solid transparent;
	color: #8ea7b9;
	text-align: center;
	line-height: 42px;
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
.main-menu__item a:hover{
	background-color: #bec9dc;
	color: #fff;
}
.main-menu .main-menu__item:first-child a{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.main-menu .main-menu__item:last-child a{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.main-menu__item_selected a{
	background: #7191b6;
	color: #fff;
}
.main-menu__item_selected a:hover{
	background: #7191b6;
	color: #fff;
}
.main-menu .main-menu__item:first-child > a{
	border:none;
}
.main-menu__item > a{
	border-left:1px solid #8ea7b9;
}
.main-menu__item .main-menu_sub{
	padding-left:0 !important;
	width:100%;
}
.main-menu__item:hover .main-menu_sub{
	display:inline-block !important;
	padding-left:0 !important;
}
.main-menu__item .main-menu_sub .main-menu_sub-item{
	list-style:none;
	text-align:left;
	border-bottom:solid 1px #BFCADD;
	display:block;
}
.main-menu__item .main-menu_sub .main-menu_sub-item a:hover{
	background-color:#C1CCDF;
	color:#fff;
}
.main-menu__item .main-menu_sub .main-menu_sub-item > a{
	color:#90AABC;
	background-color:#E5E9F5;
	text-align:left;
	line-height:1.2em;
	padding:.7em .625em .7em 1.25em;
	height:auto;
}
ul.main-menu li.main-menu__item:first-child > a{
    border:1px solid transparent;
}
/* end: main-menu */


/* start: content */
.content .clear {
	clear: both;
}
.content__workspace {
	float: right;
	width: 848px;
}
.content__side-panel {
	float: left;
	width: 322px;
	margin-right: 10px;
}
/* end: content */


/* start: side-panel */
.side-panel {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	   -moz-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	        box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	padding: 15px 23px 8px 17px;
	margin-bottom: 10px;
}
.content__side-panel .side-panel:last-child {
	margin-bottom: 0;
}
.side-panel__label {
	display: block;
	border-bottom: 2px solid #698bad;
	color: #575757;
	font-size: 17px;
	font-family: Georgia, serif;
	padding-bottom: 15px;
}

a.side-panel__label {
	text-decoration: none;
}
.side-panel__bottom-link a{
	color: #7e7e7e;
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:600;
}
.side-panel__bottom-link a:visited{
	color: #7e7e7e;
}
/* end: side-panel */


/* start: left-menu */
.left-menu {
	padding: 0;
	margin: 10px 0 0;
}
.left-menu li:last-child a{
	border: 0;
}
.left-menu__item {
	display: block;
}
.left-menu__item a{
	display: block;
	color: #8ea7b9;
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #eaeaea;
	padding: 10px;
}
.left-menu__item a:visited{
	color: #8ea7b9;
}
.left-menu__item a:hover {
	color: #fff;
	background-color: #bec9dc;
}
.left-menu__item_selected a{
	color: #fff;
	background: #7191b6;
}
.left-menu__item_selected a:visited{
	color: #fff;
}
.left-menu__item_selected a:hover {
	color: #fff;
	background: #7191b6;
}
/* end: left-menu */


/* start: workspace-layout */
.workspace {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	   -moz-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	        box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	padding: 15px 15px 10px 23px;
}
.workspace__head {}
.workspace__body {
	overflow: auto;
}
.workspace__foot {}
/* end: workspace-layout */


/* start block: workspace */
.b-workspace {
	padding: 15px 15px 10px 23px;
}
.b-workspace__label {
	margin-bottom: 37px;
}
.b-workspace__label span {
	border-bottom: 2px solid #698bad;
	color: #575757;
	font-size: 17px;
	font-family: Georgia, serif;
	padding-bottom: 15px;
}

.b-workspace__label_stretch span {
	display: block;
	border-bottom: 2px solid #698bad;
	color: #575757;
	font-size: 17px;
	font-family: Georgia, serif;
	padding-bottom: 15px;
}
.b-workspace__super {
	font-family: Helvetica, Arial, sans-serif;
	margin: 20px 0 40px;
}
.b-workspace__super h1{
	color: #000;
	font-weight: bold;
	font-size: 22px;
}
.b-workspace__super p{
	color: #000;
	font-size: 15px;
	line-height: 20px;
}
.b-workspace__bottom-link a{
	color: #7e7e7e;
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
}
.b-workspace__bottom-link a:visited{
	color: #7e7e7e;
}
/* end block: workspace */


/* start block: services-showcase */
.b-services-showcase__label {
	display: block;
	color: #000;
	font-family: Georgia, serif;
	font-size: 18px;
	border-bottom: 2px solid #5d82a6;
	padding-bottom: 12px;
}
.b-services-showcase {
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
.b-services-showcase__left-block {
	display: table-cell;
	width: 50%;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-right: 11px;
}
.b-services-showcase__right-block {
	display: table-cell;
	width: 50%;
	border-bottom: 1px solid #ddd;
	padding-left: 11px;
}

.b-services-showcase__separator {
	border-bottom: 1px solid #ddd;
}
.b-services-showcase__item {
	height: 85px;
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 100px;
	margin-left: 15px;
	padding-top: 40px;
	background-size: 100px 100px;
}



.b-services-showcase__item_red-db {
	background: url(../img/red-db.png) left center no-repeat;
}
.b-services-showcase__item_blue-db {
	background: url(../img/blue-db.png) left center no-repeat;
}
.b-services-showcase__item_blue-network {
	background: url(../img/blue-network.png) left center no-repeat;
}
.b-services-showcase__item_red-chart {
	background: url(../img/red-chart.png) left center no-repeat;
}
/* end block: services-showcase */


/* start block: news-ads */
.b-news-ads {
	display: table;
}
.b-news-ads__item {
	border-bottom: 1px solid #eaeaea;
/*	padding-bottom: 15px; */
	margin: 20px 0 0 0;
	font-family: Helvetica, Arial, sans-serif;
}
.b-news-ads__item-img {
	display: table-cell;
	width: 87px;
	vertical-align: top;
}
.b-news-ads__item-desc {
	display: table-cell;
	vertical-align: top;
}
.b-news-ads__item-desc a{
	color: #575757;
	font-size: 13px;
	text-decoration: none;
}
.b-news-ads__item-desc a:hover{
	text-decoration: underline;
}
.b-news-ads__item-desc a:visited{
	color: #575757;
}
.b-news-ads__item-desc-date {
	display: block;
	color: #575757;
	font-size: 10px;
	margin: 10px 0 10px 0;
}
/* end block: news-ads */

/* start block: cnews-ads */
.b-cnews-ads {
	display: table;
}
.b-cnews-ads__item {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
	margin: 10px 0 15px 0;
	font-family: Helvetica, Arial, sans-serif;
}
.b-cnews-ads__item-img {
	display: table-cell;
	width: 87px;
	vertical-align: middle;
}
.b-cnews-ads__item-desc {
	display: table-cell;
	vertical-align: top;
}
.b-cnews-ads__item-desc a{
	color: #575757;
	font-size: 13px;
	text-decoration: none;
}
.b-cnews-ads__item-desc a:hover{
	text-decoration: underline;
}
.b-cnews-ads__item-desc a:visited{
	color: #575757;
}
/* end block: cnews-ads */


/* start block: clients */
.b-clients {
	margin: 0 0 12px;
	padding: 15px 20px;
	background-color: #fff;
	height: 84px;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	-moz-box-shadow: 0 4px 6px rgba(7,7,7,0.5);
	box-shadow: 0 4px 6px rgba(7,7,7,0.5);
}
.b-clients__label {
	font-size: 16px;
	color: #5b5b5b;
	font-family: Georgia, serif;
	margin-bottom: 15px;
    float: left;
	position: relative;
	z-index: 11;
}
.b-clients__label a {
    text-decoration: none;
    color: inherit;
}
.b-clients__showcase-controls {
	height: 23px;
	text-align: right;
	z-index: 10;
	position: relative;
}
.b-clients__showcase-controls img {
    cursor: pointer;
}
.b-clients__showcase {
    top: -30px;
    padding-top: 30px;
    height: 100px;
}
/* end block: clients */


/* start block: showcase */

.b-clients-showcase {
    position: relative;
    top: -15px;
    padding: 0;
	display: table;
    margin-left: auto;
    margin-right: auto;
}
.b-clients-showcase__item {
	display: inline-block;
}

.b-clients-showcase__item a{
    text-decoration: none;
	display: block;
    width: 70px;
	height: 50px;
	float: left;
    position: relative;
    text-align: center;
}

.b-clients-showcase__item .client_big{
    position: absolute;
    z-index: 3;
}

.b-clients-showcase__item .client_small{
    z-index: 1;
}

.b-clients-showcase__separator {
	display: block;
	float: left;
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
	height: 50px;
	margin-right: 24px;
}
/* end block: showcase */


/* start block: footer */
.b-footer {
	display: table;
	height: 28px;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: #515151;
	font-size: 11px;
}

.image-footer {
    height: 28px;
    background: url(../img/background-footer.jpg) center center no-repeat;
    margin-top: -28px;
}

.b-footer__copyright {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}
.b-footer__report-error {
	display: table-cell;
	width: 50%;
	text-align: right;
	padding-right: 20px;
	vertical-align: middle;
	font-family: Helvetica, Arial, sans-serif;
}
.b-footer__report-error a{
	color: #515151;
}
.b-footer__report-error a:visited{
	color: #515151;
}
/* end block: footer */


/* start block: last-press-entries */
.b-last-press-entries div:last-child{
	border-bottom: none;
}
.b-press-entry {
	border-bottom: 1px solid #eaeaea;
}
.b-press-entry:hover {
	background-color: #f5f5f5;
}
.b-press-entry__date {
	display: table-cell;
	width: 110px;
	color: #515151;
	vertical-align: middle;
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
}
.b-press-entry__title {
	display: table-cell;
}
.b-press-entry__title a{
	display: block;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	width: 711px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 20px 0;
	color: #000;
	text-decoration: none;
}
/* end block: last-press-entries */


/* start block: press-archive */
.b-press-archive {
	padding: 0;
	margin: 10px 0 0;
}
.b-press-archive__year a{
	display: block;
	color: #8ea7b9;
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #eaeaea;
	padding: 10px;
}
.b-press-archive li:last-child a{
	border: 0;
}

.b-press-archive li {
	list-style:none;
}

.b-press-archive li a{
	color:#7191b6;
	text-decoration:none;
	font-size:1.05em;
}
/* end block: press-archive */


/* start block: tags-cloud */
.b-tags-cloud {
	margin: 10px 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.b-tags-cloud__link a{
	color: #7191b6;
	text-decoration: none;
}
.b-tags-cloud__link a:hover{
	text-decoration: underline;
}
.b-tags-cloud__link_size1 a{
	font-size: 80%;
	opacity: .8;
}
.b-tags-cloud__link_size2 a{
	font-size: 90%;
	opacity: .9;
}
.b-tags-cloud__link_size3 a{
	font-size: 100%;
}
.b-tags-cloud__link_size4 a{
	font-size: 120%;
}
.b-tags-cloud__link_size5 a{
	font-size: 140%;
}
/* end block: tags-cloud */


/* start: chronologies */
.chronologies .clear {
	clear: both;
}
.chronologies__item {
	border-bottom: 1px solid #ddd;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.chronologies .chronologies__item:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.chronologies__period,
.chronologies__record {
	font-family: Helvetica, Arial, sans-serif;
}
.chronologies__period {
	float: left;
	width: 135px;
	text-align: center;
	color: #8ea7b9;
	font-size: 18px;
	font-weight: bold;
}
.chronologies__record {
	float: right;
	margin-left: 0px;
	padding-left: 0px;
	width: 675px;
	font-size: 14px;
	line-height: 20px;
}
/* end: chronologies */

/* start: rich-text */
.rich-text {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding: 0 15px 0 2px;
}
.rich-text a{
	color: #90aabc;
}
.rich-text .richtext-image {
	margin-top: 3px
}
.rich-text .right {
	float: right;
	margin-left: 16px;
}
.rich-text .left {
	float: left;
	margin-right: 16px;
}
/* end: rich-text */


/* start: crew */
.crew {
	padding: 0;
	margin: 0;
}
.crew li{
	display: inline-block;
	width:30%;
	text-align:center;
	padding-right: 15px;
	vertical-align: top;
	margin-bottom: 15px;
}
.crew__profile-name,
.crew__profile-position {
	display: block;
	font-family: Helvetica, Arial, sans-serif;
}
.crew__profile-name {
	margin: 20px 0 15px;
}
.crew__profile-name a {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
	color: #000;
}
.crew__profile-position {
	color: #575757;
	font-size: 14px;
}
/* end: crew */

/* start: crewman */
.crewman {}
.crewman__face {
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}
.crewman__name {
	margin-top: 0;
	margin-bottom: 10px;
}
.crewman__position {
	color: #575757;
	margin-bottom: 40px;
}
.crewman__bio {}
/* end: crewman */


/* start: offices */
.offices .clear {
	clear: both;
}
.office__location {
	padding: 20px 0;
	border-top: 1px solid #ddd;
}
.office__info {
	float: left;
	width: 200px;
}
.office__map {
	float: right;
	width: 600px;
}
/* end: offices */

/* start: requisites */
.requisites {
	padding: 15px 5px;
	font-family: Helvetica Arial sans-serif;
	font-size: 14px;
	color: #303030;
	line-height: 22px;
}
.requisites .clear {
	clear: both;
}
.requisite__name {
	width: 90px;
	float: left;
}
.requisite__value {
	width: 158px;
	float: right;
}
/* end: requisites */

/* start: solution-menu */
.solution_category {
	font-weight: bold;
}

.solution_category_menu {
    text-align: left;
    display: block;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.solution_category_menu > li {
	position: relative;
    display: block;
    margin-right: -4px;
    cursor: pointer;
}
.solution_category_menu > li:hover {
	background: #e6f2f8;
}

.solution_category_menu > li ul {
	position: absolute;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  visibility: hidden;
}
.solution_category_menu > li ul li {
  background: #e1e1e1;
  display: block;
  text-shadow: 0 -1px 0 #000;
}

.solution_category_menu > li ul li:hover {
	background: #8ea7b9;
}

.solution_category_menu > li:hover  ul {
  display: block;
  visibility: visible;
}

.solutions-menu {
	padding: 0;
	margin: 10px 0 0;
	list-style: none;
}
.solutions-menu a{
	display: block;
	color: #8ea7b9;
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #eaeaea;
	padding: 10px;
}
.solutions-menu a.selected{
	background-color: #7191b6;
	color: #fff;
}
.solutions-menu a.selected:hover{
	background-color: #7191b6;
	color: #fff;
}
.solutions-menu a:hover{
	background-color: #bec9dc;
	color: #fff;
}
.solutions-menu__submenu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.solutions-menu__submenu a{
	border: 0;
	font-size: 15px;
	padding: 5px 35px;
}
/* end: solution-menu */

/* start: product-list */
.product-list {
	padding: 0;
	margin: 0;
}
.product-list__item {
	list-style: none;
}
.product-list .product-list__item:last-child a{
	border: none;
}
.product-list__item a{
	display: block;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	width: 785px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 20px 15px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #eaeaea;
}
.product-list__item a:hover{
	background-color: #f5f5f5;
}
/* end: product-list */


/* start: documents */
.documents {
	padding: 0;
	margin: 0 0 30px;
}
.documents li{
	display: inline-block;
	width: 185px;
	padding-right: 15px;
	vertical-align: top;
	margin-bottom: 20px;
}
.document__description {
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	color: #575757;
	font-size: 14px;
}
.document__scan {
    padding-left: 10px;
    padding-right: 10px;
   cursor: pointer;
    text-align: center;
}

/* Menu for Solutions */
.side-panel.menu_panel .label_menu{
	color:#57779D;
	border-bottom:1px solid #BFCADD;
	font:bold 1em Helvetica, Arial;
	padding:10px 0;
	margin:0 30px;
	background: url(../img/arrow_up.png) right center no-repeat;
	cursor:pointer;
}


.side-panel.menu_panel .label_menu ~ .label_menu{
	border-top:1px solid #BFCADD;
}
.side-panel.menu_panel ul{
	padding:0;
	margin:0;
	width:auto;
}
.side-panel.menu_panel{
	padding:0;
}
.side-panel.menu_panel a{
	text-decoration:none;
	font:bold 1em Helvetica, Arial;
	color:inherit;
}
.side-panel.menu_panel ul.nav li {
	list-style: none;
	display:block;
	background-image:url(../img/arrow_side.png);
	background-repeat:no-repeat;
	background-position:90% center;
	padding:10px 25px;
	color:#96B1C4;
	/*white-space:nowrap;*/
	width:75%;
}
.side-panel.menu_panel ul.nav li.last_level{
	background-image:none;
}
.side-panel.menu_panel ul.nav > li{
	padding-left:50px;
}
.side-panel.menu_panel ul.nav li a{
	display:inline-block;
	width:83%;
	min-width:150px;
	margin-right:25px;
}
.side-panel.menu_panel ul.nav li ul {
	display: none;
	position:absolute;
	width:auto;
	min-width:200px;
	background-color:#EEF5FA;
	border:1px solid #BFCADD;
	box-shadow:3px 5px 5px #BCC2C8;
}
.side-panel.menu_panel ul.nav li ul li{
	border-bottom:1px solid #BFCADD;
	width:auto;
	max-width:500px;
}
.side-panel.menu_panel ul.nav li:hover {
	background-color:#BFCADD;
	color:#fff;
}
.side-panel.menu_panel ul.nav li:hover > ul {
	display: inline-block;
	margin:10px 5px;
}

.rich-text img.richtext-image{
	width:40%;
	height:auto;
}
.rich-text{
	line-height:1.3em !important;
	text-indent:1.5em;
}
.content__workspace .workspace p,
.content__workspace .workspace ul{
	margin:10px;
}
.content__workspace .workspace__body .rich-text p{
	font-size:1em;
}
.content__workspace .workspace__body .rich-text p i{
	font-weight:bold;
	font-size:1.3em;
}
.workspace__body{
	font-family:Helvetica, Arial;
}

.ru-kid-title,
.content__workspace .workspace__body  .ru-kid-excerpt .rich-text > b:first-of-type{
	font-size:1.2em;
	font-weight:bold;
	padding:20px 5px 20px 0px;
}
.workspace__body.reshenia-uslugi .rich-text:empty ~ a{
	padding:10px;
	color:#96b1c4;
	font-size:1em;
	background-image:none;
}
.workspace__body.reshenia-uslugi > a{
	text-decoration:none;
	/*padding:10px 30px;*/
	color:#000;
	font-size:0.9em;
	font-family:Helvetica, Arial;
	font-weight:bold;
	/*background-image:url(../img/arrow_to_right.png);
	background-repeat:no-repeat;
	background-position:left center;	*/
}
.workspace__body.reshenia-uslugi div a:hover{
	text-decoration:underline;
}

.ru-kid-title {
	clear:both;
	border-top:1px solid #DDDDDD;
	margin-top:20px;
}
.ru-kid-title:first-of-type{
	border:none;
	margin-top:0;
}
.workspace__body.reshenia-uslugi .ru-kid-title{
	border-bottom:none;
}

.reshenia-uslugi .rich-text p b{
	margin-left:-30px;
}

.content__workspace .ru-content{
	padding-top:20px;
}
.workspace__body.reshenia-uslugi .ru-kid-excerpt{
	margin-bottom:30px;
}
.workspace__body.reshenia-uslugi .ru-icon,
.workspace__body.reshenia-uslugi .ru-kid-icon{
	float:left;
	width:25%;
	padding:20px;
	margin-right:25px;
	display:block;
	height:auto;
}
.ru-patent {
	cursor: pointer;
}
.ru-more-info{
	padding:10px 30px;
	background-image:url(../img/arrow_to_right.png);
	background-repeat:no-repeat;
	background-position:left center;
	color:#6D89AA;
	text-decoration:none;
	font-size:1em;
}
.b-workspace__path{
	padding:5px 0;
	border-bottom-color: #698bad;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.b-workspace__path a{
	background-image:url(../img/arrow_to_right.png);
	background-repeat:no-repeat;
	background-position:right 20%;	
	padding-right:25px;
	margin-right:5px;
	text-decoration: none;
	color: #575757;
    font-family: Georgia,serif;
    font-size: 17px;
    padding-bottom: 15px;
}
.b-workspace__path a:last-child{
	background-image:none;
}

.office__info .rich-text{
	text-indent:0;
}
.content__workspace .workspace ul{
	list-style-position:inside;
}

.content__workspace .workspace ul{
	list-style-position:inside;
	padding-left:10px;
}
.layout-base__foot .b-clients{
	padding-top:5px;
}
.layout-base__foot .b-footer{
	padding-top:10px;
}
.rich-text img.richtext-image[src*='skhema.png']{
	width:60%;
}
/* 07.09.2015 */
#page_1741 .workspace__body.reshenia-uslugi .ru-kid-icon{
	width:100px;
	float:none;
}
#page_1741 .ru-more-info{
	width:60px !important;
	display:inline-block;
	border-bottom:none;
	float: right !important;
	margin-top:50px;
	color:#000;
	font-size:.75em;
	text-decoration:none;
}
#page_1741 .ru-kid-title{
	border-top:none;
	width:auto;
	height:auto;
	float:none;
	display:inline-block;
	text-align:left;
	margin-top:34.6px;
}

#page_1741 .content__workspace .workspace__body > a{
	float:left;
	width:150px;
}

#page_1741 .rich-text{
	clear:both;
}

#page_1741 .workspace__body .ru-kid-excerpt{
	margin-bottom:10px;
}
/* end 07.09.2015 */

.rich-text img.richtext-image[src*='skhema']{
	width:60%;
	float:right;
}

.reshenia-uslugi .rich-text p b{
	margin-left:0px;
}

body[id*='page_16'] .workspace__body{
	text-indent:1.3em;
}
body[id*='page_16'] .workspace__body .rich-text{
	padding:0 15px 20px 0;
	margin-left:-3px;
	font-size:1em;
}
body[id*='page_16'] .workspace__body .rich-text a{
	padding-left:30px;
	background-image:url(../img/arrow_to_right.png);
	background-repeat:no-repeat;
	background-position:left center;
	font-size:1em;
	text-indent:0;
	text-decoration: underline;
	display:inline-block;
}
/* 28.08.2015 */
/*16269*/
body[id='page_1570'] .workspace__body,
body[id*='page_158'] .workspace__body,
body[id*='page_159'] .workspace__body,
body[id*='page_160'] .workspace__body,
body[id*='page_161'] .workspace__body,
body[id*='page_162'] .workspace__body,
body[id*='page_163'] .workspace__body,
body[id*='page_164'] .workspace__body,
body[id*='page_173'] .workspace__body{
	text-indent:1.3em;
}
body[id='page_1570'] .workspace__body .rich-text,
body[id*='page_158'] .workspace__body .rich-text,
body[id*='page_159'] .workspace__body .rich-text,
body[id*='page_160'] .workspace__body .rich-text,
body[id*='page_161'] .workspace__body .rich-text,
body[id*='page_162'] .workspace__body .rich-text,
body[id*='page_163'] .workspace__body .rich-text,
body[id*='page_164'] .workspace__body .rich-text,
body[id*='page_173'] .workspace__body .rich-text{
	padding:0 15px 20px 0;
	margin-left:-3px;
	font-size:1em;
}
body[id='page_1570'] .workspace__body .rich-text a,
body[id*='page_158'] .workspace__body .rich-text a,
body[id*='page_159'] .workspace__body .rich-text a,
body[id*='page_160'] .workspace__body .rich-text a,
body[id*='page_161'] .workspace__body .rich-text a,
body[id*='page_162'] .workspace__body .rich-text a,
body[id*='page_163'] .workspace__body .rich-text a,
body[id*='page_164'] .workspace__body .rich-text a,
body[id*='page_173'] .workspace__body .rich-text a{
	padding-left:30px;
	background-image:url(../img/arrow_to_right.png);
	background-repeat:no-repeat;
	background-position:left center;
	font-size:1em;
	text-indent:0;
	text-decoration: underline;
	display:inline-block;
}
/*16286*/
div.side-panel.menu_panel ul.nav ul li {
	padding:.625em 25px;
}
.side-panel.menu_panel ul.nav li a{
	min-width:95%;
	width:auto;
	vertical-align:middle;
}
@media all and (-webkit-min-device-pixel-ratio:0) {
	.side-panel.menu_panel ul.nav li a{
		width:95%;
	}
}
.side-panel.menu_panel ul.nav li.last_level a{
	width:auto;
}
div.side-panel.menu_panel ul.nav li a{
	margin-right:5px;	
}
div.side-panel.menu_panel ul.nav li ul li{
	max-height: 2.5em;	
	padding-left:10px;
	padding-right:25px;
}
.side-panel.menu_panel ul.nav ul li{
	background-position:95%;
}
.side-panel.menu_panel ul.nav ul li.last_level{
	padding-right:0px;
}
ul.nav ul li ul{
	width:auto !important;
	min-width:inherit !important;
}
ul.nav ul li ul li{
	width:auto !important;
}
ul.nav ul li ul li a {
    overflow-y: hidden;
    width: 100% !important;
}
ul.nav ul li ul li a[href*='portal-vysshej-ekzamenacionnoj-komissii-po-priemu-kvalifikacionnogo-ekzamena-na-dolzhnost-sudi-rf'] {
    width: 550px !important;
}
ul.nav ul li ul li.last_level a {
    min-width: 250px !important;
}
/* end 28.08.2015 */

.b-services-showcase .rich-text {
  text-indent:0;
  margin-left:20px;
}

/* 07.09.2015 */
.chronologies__record .rich-text{
	text-indent:0;
}
/* 08.09.2015 */
.chronologies__record .rich-text p{
	padding:0 15px 0 2px;
	margin:0;
}
/* end 08.09.2015 */
#page_1741 .ais{
	height:135px;
	border-bottom:1px solid #D6D6D6;
}
#page_1741 .ais > a{
	float:left;
}

.content__workspace .workspace__body .ru-kid-icon{
	padding:17px 25px 17px 20px;
}
/* end 07.09.2015 */

body[id='page_1570'] .workspace__body .rich-text p,
body[id*='page_158'] .workspace__body .rich-text p,
body[id*='page_159'] .workspace__body .rich-text p,
body[id*='page_160'] .workspace__body .rich-text p,
body[id*='page_161'] .workspace__body .rich-text p,
body[id*='page_162'] .workspace__body .rich-text p,
body[id*='page_163'] .workspace__body .rich-text p,
body[id*='page_164'] .workspace__body .rich-text p,
body[id*='page_173'] .workspace__body .rich-text p{
	margin:0;
}
body[id='page_1570'] .workspace__body .rich-text a,
body[id*='page_158'] .workspace__body .rich-text a,
body[id*='page_159'] .workspace__body .rich-text a,
body[id*='page_160'] .workspace__body .rich-text a,
body[id*='page_161'] .workspace__body .rich-text a,
body[id*='page_162'] .workspace__body .rich-text a,
body[id*='page_163'] .workspace__body .rich-text a,
body[id*='page_164'] .workspace__body .rich-text a,
body[id*='page_173'] .workspace__body .rich-text a{
	margin-top:10px;
}

